[Unit]
Description=ngrok

[Service]
ExecStart/usr/local/bin/ngrok tcp 22
ExecStartPost=/usr/local/bin/get_ngrok_url.sh
Restart=always
RestartSec=3
Type=simple

